@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.signin button,
.signout button {
  font-family: "Open Sans";
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 49, 77, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #ffffff;
}

.signin button:hover,
.signout button:hover {
  background-color: rgba(0, 49, 77, 0.8);
}
