@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.signin button,
.signout button {
  font-family: "Open Sans";
  font-weight: 550;
  font-size: 14px;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #ffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #005a8b;
}

.signin button:hover,
.signout button:hover {
  background-color: rgba(231, 231, 231, 0.8);
}
