/* continueShoppingButton.css */

.btn-continue-shopping {
  background-color: #6c757d;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: 550;
  font-size: 18px;
  display: inline-block;
  text-align: center;
}

.btn-continue-shopping:hover {
  background-color: #5a6268;
}
