@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Dropdown Container */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Open Sans";
}

/* Dropdown Button */
.dropdown-toggle {
  background-color: #ffffff;
  color: #0056b3;
  font-family: "Open Sans";
  font-weight: 550;
  font-size: 14px;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.dropdown-toggle:hover {
  background-color: #e5e5e5;
}

/* Dropdown Menu */
.dropdown-menu {
  display: none; /* Initially hidden */
  position: absolute;
  right: 0;
  background-color: #ffffff;
  min-width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
  flex-direction: column;
  align-items: stretch;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: flex;
}

/* Dropdown Items: Applies to both anchor links and div wrappers */
.dropdown-menu a,
.dropdown-menu div {
  display: block;
  width: 100%;
  padding: 10px;
  color: #0056b3;
  text-decoration: none;
  font-family: "Open Sans";
  cursor: pointer;
  box-sizing: border-box;
}

.dropdown-menu a:hover,
.dropdown-menu div:hover {
  background-color: #dddddd;
  color: #005a8b;
}

.logout {
  background-color: #ffffff;
  color: #005a8b;
}
