/**
 * @file navbar.css
 * @description Minimal custom styles for branding and logo size
 *              used in conjunction with Bootstrap navbar component.
 */

/* ===============================
   Brand Styling
   =============================== */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}
/* UMass Boston logo sizing */
.logo {
  max-width: 125px;
}

/* UMass Boston logo color */
.bg-umb-blue {
  background-color: #005a8b;
}
