/* General Styling */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column; /* Stack navbar-top and navbar-main */
}

/* Top Section: Auth and Cart */
.navbar-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10%;
  background-color: #005a8b;
  border-bottom: 1px solid #ccc;
}

.navbar-top a {
  margin-left: 20px;
}

/* Main Navigation Section */
.navbar-main {
  display: flex;
  justify-content: space-between; /* Space between logo and nav links */
  align-items: center;
  padding: 10px 10%;
}

.nav__links {
  list-style: none;
  display: flex; /* Ensure the links are displayed inline */
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  font-family: "Open Sans", sans-serif;
  font-weight: 550;
  font-size: 18px;
  color: #005a8b;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #00314d;
}
