@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.seperator {
  width: 100%;
  height: 70px;
  background-color: #005a8b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}
.seperator2 {
  width: 100%;
  height: 300px;
  background-color: #005a8b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}
